/* App.css */

/* Form Container */
body{
  background-color:#f0f8ff ;
}

.float-container {
  border: 3px solid #fff;
  /* padding: 20px; */
  display: flex;
  justify-content: space-around;
}

.float-child {
  width: 40%;
  float: left;
  padding: 40px;
}

.form-container {
  width: 45%;
  margin: 50, auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #faf3f0;
}

.form-container h2 {
  margin-bottom: 20px;
}

.form-container button {
  padding: 10px 15px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #0056b3;
}

.emi-display {
  background-color: #faf3f0;

  width: 35%;
}

.error {
  color: red;
  margin-top: 10px;
}

/* Schedule Container */
.schedule-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.schedule-container h2 {
  margin-bottom: 20px;
}

.schedule-container table {
  width: 100%;
  border-collapse: collapse;
}

.schedule-container th,
.schedule-container td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.schedule-container th {
  background-color: #f4f4f4;
}

.schedule-container input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.save-btn {
  padding: 10px 15px;
  border: none;
  background-color: #28a745;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.save-btn:hover {
  background-color: #218838;
}
.tabs {
  padding: 10px;
  font-size: 30px;
  margin-left: 0px;
  background-color: antiquewhite;
  border-radius: 8px;
}
